# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/*/node_modules
/.pnp
.pnp.js
/.idea

# testing
coverage

# Cypress
packages/testing/cypress/videos/*
packages/testing/cypress/downloads/*
packages/testing/cypress/screenshots/*
packages/testing/cypress.env.json

# Playwright
packages/testing/playwright/test-results/
packages/testing/playwright/playwright-report/
packages/testing/playwright/.cache/
packages/testing/playwright/.auth/
packages/testing/playwright/trace.zip
packages/testing/playwright/**/*.png
packages/testing/playwright/**/*.webm
packages/testing/playwright/**/*.mp4
packages/testing/playwright/bundles/*.bundle.js


# production
/dist

# Storybook
packages/storybook/storybook-static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/install-state.gz

faker/custom-extended-schemas/
src/config/apollo-client/customClientTypeDefs.ts

caddy/certificate/root.crt

*storybook.log
.app.env
