{
    # Optional staging lets encrypt for testing. Comment out for production.
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

staging.geyser.fund {
    tls internal
    reverse_proxy geyser-app:3000
}